.rounded-bordered-container {
    width:100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid white;
    display: flex;
    color: white;
}

.active-shadow {
    border-radius: 100px;
    -webkit-box-shadow: 0px -5px 20px 10px #FFFFFF;
    -moz-box-shadow: 0px -5px 20px 10px #FFFFFF;
    box-shadow: 0px -5px 20px 10px #FFFFFF;
}

.rounded-bordered-content {
    margin: auto;
}

.rounded-bordered-container .title{
    margin: auto;
    font-size: 28px;
    text-align: center;
}

.rounded-bordered-container .subtitle{
    margin: auto;
    font-size: 14px;
    text-align: center;
}

.rounded-button {
    display: flex;
    width: 60px;
    height: 60px;;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    z-index: 60;
    position: absolute;
}

.rounded-button :hover {
    color: rgba(255, 255, 255, .8);
}

.rounded-button i {
    margin: auto;
    color: rgba(255, 255, 255, 0.2);
}


.logo-row {
    margin-bottom: 20%;
}

.info-row {
    margin-bottom: 40px;
}

.graph-row {
    margin-bottom: 40px;
}

.table-row {
    margin-bottom: 40px;
}