<div class="row">
  <div class="col-lg-4 col-sm-4"  align="center">
      <p class="card-title">{{numDbs | number}}</p>
      <p class="card-subtitle"> Number Databases</p>
  </div>
  <div class="col-lg-4 col-sm-4"  align="center">
      <p class="card-title">{{crudCommits | number}}</p>
      <p class="card-subtitle"> Number CRUD Commits</p>
  </div>
  <div class="col-lg-4 col-sm-4"  align="center">
      <p class="card-title">{{peersList.length | number}}</p>
      <p class="card-subtitle"> Number Peers</p>
  </div>
</div>