.satellite-container {
    position: absolute;
    top:160px;
    left: 100px;
    width: 700px;
    height: 300px;
    opacity: 1.0;
    transform: scale(0.0);
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.title{
    font-size: 24px;
    color: white;
    margin-bottom: 0px;
}

.subtitle{
    text-transform: uppercase;
    font-size: 12px;
    color: #c3cad2;
}

.half-circle {
    width: 250px;
    height: 140px;
    background-color:#1c588a;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border: 2px solid #FFF;
    border-bottom: 0;
    padding-top: 50px;
}

.half-circle .title{
    font-size: 30px;
}


.circle-big {
    border: #FFF 2px solid;
    border-radius: 180px;
    height: 180px !important;
    width: 180px;
    margin: 10px;
    padding-top: 40px;
    background-color: #1c588a;
}
.circle-big .title{
    font-size: 38px;
}


.circle-small {
    border: #FFF 1px solid;
    border-radius: 100px;
    height: 120px !important;
    width: 120px;
    margin: 10px;
    padding-top: 30px;
    background-color: #1c588a;
}

.circle-small .subtitle{
    font-size: 10px;
}

.circle-small .title{
    font-size: 28px;
}


.circle-group-dash .circle-small{
    margin-top: -80px;
    margin-left: 220px;
    -webkit-box-shadow: -34px -34px 29px 10px rgba(28,88,138,1);
    -moz-box-shadow: -34px -34px 29px 10px rgba(28,88,138,1);
    box-shadow: -34px -34px 29px 10px rgba(28,88,138,1);
}

.circle-group-two-sub .bottom-bar{
    position: absolute;
    background-color: #1c588a;
    left:40px;
    top: 160px;
    width: 290px;
    height: 300px;
    -webkit-box-shadow: 0px -34px 29px 10px rgba(28,88,138,1);
    -moz-box-shadow: 0px -34px 29px 10px rgba(28,88,138,1);
    box-shadow: 0px -34px 29px 10px rgba(28,88,138,1);
}
.circle-group-two-sub .bottom-bar .title{
    font-size: 20px;
}

.circle-group-two-sub .bottom-bar .subtitle{
    font-size: 10px;
}


.circle-group-two-sub .bottom-bar .left{
    position: absolute;
    left:25px;
}

.circle-group-two-sub .bottom-bar .right{
    position: absolute;
    right:25px;
}

#doughnutCanvas {
    position: absolute;
    left: 63px;
    top: -20px;
    width: 240px !important;
    height: 240px !important;
}

#doughnutCanvasDB {
    position: absolute;
    left: -10px;
    top: -30px;
    width: 260px !important;
    height: 260px !important;
}

#doughnutCanvasKVP {
    position: absolute;
    left: 37px;
    top: -15px;
    width: 170px !important;
    height: 170px !important;
}

#doughnutCanvasCRUD {
    position: absolute;
    left: -9px;
    top: -30px;
    width: 260px !important;
    height: 260px !important;
}

#doughnutCanvasPeers {
    position: absolute;
    left: 217px;
    top: 102px;
    width: 156px !important;
    height: 156px !important;
}

.card{
    border: none;
    padding:20px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.graph-border{
    position: absolute;
    left:0px;
    -webkit-box-shadow: 23px 0px 28px 25px rgba(28,88,138,1);
    -moz-box-shadow: 23px 0px 28px 25px rgba(28,88,138,1);
    box-shadow: 23px 0px 28px 25px rgba(28,88,138,1);
}
