<div class="row" style="margin-bottom:60px !important">
    <div class="col-lg-12">
        <img src="https://eventil.s3.amazonaws.com/uploads/group/avatar/2803/highres_468487350.jpeg" style="height:100px;width:auto;"/>
        <h4 style="color:#FFF;margin-left:100px;margin-top: -15px;font-size: 19px">Realtime visualization</h4>
    </div>
</div>

<div #firstPage class="satellite-container">
    <app-firstpage></app-firstpage>
</div> 

<!-- div #secondPage class="satellite-container">
    <app-secondpage></app-secondpage>
</div> 

<div #summaryPage class="satellite-container">
    <app-summarypage></app-summarypage>
</div--> 



<!--div id="view-switch">
    <div class="btn-group btn-group-toggle" style="border-width: 0px !important;" data-toggle="buttons">
        <label class="btn button-segment-active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> DASH
        </label>
        <label class="btn button-segment-inactive">
            <input type="radio" name="options" id="option2" autocomplete="off"> SAT
        </label>
    </div>
</div-->
