.scanLines {
    /*** WEBKIT ***/
    background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.15) 1px, rgba(0, 0, 0, 0.15) 4px);
    -webkit-background-size: 100% 2px;
    /** MOZILLA **/
    background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.15) 1px, rgba(0, 0, 0, 0.15) 4px);
    -moz-background-size: 100% 2px;
  }


  